POSTGRES_CONNECTION_URL=postgresql://user:password@host:5432/dbname
AWS_REGION=LEAVE_EMPTY
REACT_APP_BACKEND_URL=LEAVE_EMPTY
REACT_APP_AWS_USER_POOLS_ID=LEAVE_EMPTY
REACT_APP_AWS_USER_POOL_WEB_CLIENT_ID=LEAVE_EMPTY
ACM_CERTIFICATE_ARN=ADD_THE_ARN_LOCATED_IN_THE_CERTICFICATE_STATUS