* {
    box-sizing: border-box;
}

.landin-page-bg-model {
    position: relative;
    overflow: hidden;
    height: 100%;
}

.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 990;
}
@media (max-width: 800px) {
    .navbar {
        position: relative;
    }
}

.landing-page-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 75%;
    /* Add this to control the visible part of the image */
    min-height: 60vh;
}
@media (max-width: 800px) {
    .landing-page-image {
        object-fit: cover;
        /* background-attachment: scroll; */
    }
}

.landing-page-heading-position {
    padding-left: 45vw;
    position: absolute;
    top: 50%;
    /* Center vertically */
    left: 12.5%;
    /* Adjust as needed for center-left positioning */
    transform: translate(-50%, -50%);
    /* Center the element */
}
@media (max-width: 530px) {
    .landing-page-heading-position {
        /* top: 60%; */
        /* Center vertically */
    }
}
@media (max-width: 300px) {
    .landing-page-heading-position {
        /* top: 70%; */
        /* Center vertically */
    }
}

.landing-page-heading {
    color: rgb(43, 43, 43);
    font-size: 4.5vw;
    font-weight: 550;
    text-align: left;
}

.landing-page-sub-heading {
    padding-top: 1.5vh;
    color: rgb(43, 43, 43);
    font-size: 2vw;
    font-weight: 450;
    text-align: left;
}
@media (max-width: 700px) {
    .landing-page-sub-heading {
        font-size: 2.5vw;
    }
}

.landing-page-btns {
    padding-top: 2vw;
    margin-top: 2vw;
    width: 100%;
    display: flex;
}
@media (max-width: 700px) {
    .landing-page-btns {
        /* padding-top: 2vh; */
    }
}

.landing-page-btn1 {
    padding-top: 1vh;
    padding-bottom: 1vh;
    background-color: #000000;
    color: white;
    font-size: 1.25vw;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 0px;
}
@media (max-width: 700px) {
    .landing-page-btn1 {
        font-size: 2vw;
    }
}

.landing-page-btn2-pos {
    padding-left: 2vw;
}

.landing-page-btn2 {
    padding-top: 1vh;
    padding-bottom: 1vh;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 1.25vw;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 0px;
}
@media (max-width: 700px) {
    .landing-page-btn2 {
        font-size: 2vw;
    }
}

.landing-page-brand-name-styling {
    font-style: italic;
    font-size: 1.25vw;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
@media (max-width: 700px) {
    .landing-page-brand-name-styling {
        font-size: 3vw;
    }
}

.brand-carousel-pos {
    padding-top: 15vh;
    padding-bottom: 10vh;
    padding-left: 10vw;
    padding-right: 10vw;
}
@media (max-width: 700px) {
    .brand-carousel-pos {
        padding-top: 5vh;
        padding-bottom: 5vh;
    }
}

.brand-carousel-container {
    position: relative;
    overflow: hidden;
}

.brand-carousel {
    width: 100%;
    overflow: hidden;
}

.carousel {
    display: grid;
    grid-template-columns: repeat(14, calc(100% / 6.5));
    animation: scroll 10s linear infinite;
    width: 100%;
}
@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-100% * 1));
        /* Adjust the number of brand names */
    }
}
@media (max-width: 700px) {
    .carousel {
        grid-template-columns: repeat(14, calc(100% / 3.25));
        animation: scroll 10s linear infinite;
    }
    @keyframes scroll {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(calc(-100% * 3));
            /* Adjust the number of brand names */
        }
    }
}









.trial-product-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3vw;
    padding-top: 5vh;
}
@media (max-width: 700px) {
    .trial-product-card-container {
        flex-direction: column;
        align-items: center;
    }
}

.trial-product-card {
    position: relative;
    max-width: 450px;
    width: 100%;
    border: 1px solid #000000;
    background-color: #ffffff;
    overflow: hidden;
}
@media (max-width: 1450px) {
    .trial-product-card {
        max-width: 31vw;
    }
}
@media (max-width: 700px) {
    .trial-product-card {
        max-width: 80vw;
    }
}

.img-specials {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    display: block;
}
@media (max-width: 700px) {
    .img-specials {
        height: 30vh;
    }
}

.trial-product-card-details {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.142);
    color: #ffffff;
    padding: 1rem;
    text-align: left;
}

.trial-product-card-heading {
    font-size: 3vw;
    font-weight: 700;
}

.trial-product-card-sub-heading {
    padding-top: 0.2rem;
    font-size: 1rem;
}

.trial-product-card-btn {
    padding-top: 1rem;
}

.trial-product-card-btn1 {
    background-color: #ffffff;
    color: #000;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    border: 1px solid #000;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.trial-product-card-btn1:hover {
    background-color: #000;
    color: #fff;
}


.trial-product-card-heading {
    font-size: 1.2rem;
}

.trial-product-card-sub-heading {
    font-size: 0.9rem;
}

.trial-product-card-btn1 {
    font-size: 0.9rem;
}










.featured-products {
    margin-top: 20vh;
    padding-top: 10vh;
    padding-bottom: 5vh;
    background-color: #cfe0e0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.featured-products-heading {
    font-size: 40px;
    font-weight: 650;
    color: black;
    text-align: left;
}