* {
    box-sizing: border-box;
}

.landin-page-bg-model{
    position: relative;
}

.landing-page-image {
    height: auto;
    width: 100%;
    object-fit: cover;
    position: relative;
    background-attachment: fixed; /* Add this line */
}
@media (max-width: 1000px) {
    .landing-page-image {
        height: auto;
        width: 100%;
        object-fit: contain;
        background-attachment: scroll; /* Add this line */
    }
}

.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000; /* Add this line */
}

.landing-page-heading-position {
    padding-left: 25vw;
    position: absolute;
    top: 50%; /* Center vertically */
    left: 25%; /* Adjust as needed for center-left positioning */
    transform: translate(-50%, -50%); /* Center the element */
}

.landing-page-heading {
    color: rgb(43, 43, 43);
    font-size: 4vw;
    font-weight: 650;
    text-align: left;
}

.landing-page-sub-heading {
    padding-top: 1vh;
    color: rgb(43, 43, 43);
    font-size: 2vw;
    font-weight: 450;
    text-align: left;
}

.landing-page-btns {
    padding-top: 4vh;
    width: 100%;
    display: flex;
}

.landing-page-btn1 {
    /* padding-right: 20px;
    padding-left: 20px; */
    padding-top: 1vh;
    padding-bottom: 1vh;
    background-color: #000000;
    color: white;
    font-size: 1vw;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 0px;
}

.landing-page-btn2-pos {
    padding-left: 2vw;
}

.landing-page-btn2 {
    /* padding-right: 20px; */
    /* padding-left: 20px; */
    padding-top: 1vh;
    padding-bottom: 1vh;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 1vw;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 0px;
}







.landing-page-brand-name-styling {
    font-style: italic;
    font-size: 19px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.brand-carousel-pos {
    padding-top: 15vh;
    padding-bottom: 10vh;
    /* padding-left: 20vh; */
    /* padding-right: 20vh; */
}

.brand-carousel-container {
    position: relative;
    overflow: hidden;
}

.brand-carousel {
    /* width: 150vw; */
    overflow: hidden;
}

.carousel {
    display: grid;
    grid-template-columns: repeat(14, calc(100% / 7));
    /* grid-template-columns: repeat(14, 1fr); */
    animation: scroll 10s linear infinite;
    width: 100%; /* Ensure it doesn’t exceed the viewport */
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-100% * 1)); /* Adjust the number of brand names */
    }
}

/* .brand-name {
    width: 10vh;
} */

.trial-product-card-pos {
    padding-top: 5vh;
    padding-bottom: 5vh;
    /* margin-left: 25vh;
    margin-right: 25vh; */
    display: flex;
    justify-content: space-evenly;
    width: 70%; /* Adjust to 100% for responsiveness */
    max-width: 50vh; /* Set a max width to control large screens */
    align-items: center;
}

.trial-product-card {
    background: 
        linear-gradient(
            rgba(0, 0, 0, 0.5), /* This is your color overlay, adjust as needed */
            rgba(0, 0, 0, 0.5) /* This is your color overlay, adjust as needed */
        ),
        url('../../assets/images/landingPage/trialProductBg.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* margin-left: 3vh;
    margin-right: 3vh; */
    width: 50vh;
    height: 70vh;
    border: 1px solid #000000;
}


.trial-product-card-details {
    padding-top: 45vh;
    position:inherit;
    /* padding-left: 30px; */
}


.trial-product-card-heading {
    color: white;
    font-size: 30px;
    font-weight: 750;
    text-align: left;
}

.trial-product-card-sub-heading {
    padding-top: 1vh;
    color: white;
    font-size: 15px;
    font-weight: 500;
    text-align: left;
}

.trial-product-card-btn {
    padding-top: 2vh;
}

.trial-product-card-btn1 {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 0px;
}

.featured-products {
    margin-top: 20vh;
    padding-top: 10vh;
    padding-bottom: 5vh;
    background-color: #cfe0e0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.featured-products-heading {
    font-size: 40px;
    font-weight: 650;
    color: black;
    text-align: left;
}