.signup-card-container {
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    width: 90vw;
    max-width: 60vw;
}
@media (max-width: 1370px) {
    .signup-card-container {
        max-width: 90vw;
    }
}
@media (max-width: 800px) {
    .signup-card-container {
        top: 50%;
    }
}

.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
}
@media (max-width: 900px) {
    .grid-container {
        grid-template-columns: 35% 65%;
    }
}
@media (max-width: 800px) {
    .grid-container {
        grid-template-columns: 0% 100%;
    }
}

.grid-item {
    height: 65vh;
}

.grid-item1 {
    background-image: url('../../../assets/images/XpressBuy/XpressBuy_Logo_Design_NoBg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 5vh;
    height: 45vh;
}

.signup-login-navigate-container {
    height: 55vh;
    display: flex;
    justify-content:center;
    padding-left: 10vh;
    align-items:end;
    border-right: dashed 1px rgba(0, 0, 0, 0.8);
}
@media (max-width: 800px) {
    .signup-login-navigate-container {
        border: none;
    }
}

.signup-login-navigate {
    color: rgb(0, 183, 255);
    font-size: 17px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading {
    font-size: 30px;
    font-weight: 750;
    text-align: center;
    padding-top: 5vh;
}

.signup-inputs {
    padding-top: 4vh;
    padding-left: 12.5vh;
    padding-right: 12.5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media (max-width: 486px) {
    .signup-inputs {
        padding-left: 5vh;
        padding-right: 5vh;
    }
}
@media (max-width: 360px) {
    .signup-inputs {
        padding-left: 3vh;
        padding-right: 3vh;
    }
}
@media (max-width: 320px) {
    .signup-inputs {
        padding-left: 2vh;
        padding-right: 2vh;
    }
}

.signup-input-fields {
    padding-top: 1vh;
    padding-bottom: 1vh;
    font-size: 13px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}

.signup-input-setter {
    border: none;
    padding-left: 1vh;
    font-size: 15px;
    padding-top: 2vh;
}

.signup-input-setter:focus {
    outline: none;
}

.readOnly-input{
    /* background-color: rgb(171, 171, 171); */
    color: rgb(171, 171, 171);
}

.padder2vh {
    padding-top: 3vh;
}

.signup-errors {
    margin-top: 2vh;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgb(255, 0, 0);
    height: 50px;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-success{
    margin-top: 2vh;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgb(0, 128, 0);
    height: 50px;
    color: rgb(4, 0, 252);
    display: flex;
    justify-content: center;
    align-items: center;
}

.otp-verification-btns{
    display: flex;
    justify-content: space-between;
}

.signup-btn {
    /* padding-top: 1vh; */
    display: flex;
    justify-content: center;
}

.signup-btn-decor {
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 3vh;
    padding-right: 3vh;
    background-color: rgb(0, 38, 255);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 0px;
    font-size: 20px;
}

.resend-otp-btn-decor {
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 3vh;
    padding-right: 3vh;
    background-color: rgb(0, 38, 255);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 0px;
    font-size: 15px;
}

.signup-btn-decor:hover {
    background-color: rgb(0, 128, 0);
    color: rgb(255, 255, 255);
}

.resend-otp-btn-decor:hover {
    background-color: rgb(0, 195, 255);
    color: rgb(255, 255, 255);
}