.navbar {
    background-color: #6b6b6b98;
}
@media (max-width: 800px){
    .navbar {
        background-color: #ffffff;
    }
}

.navbar-cat {
    background-color: #ffffff;
}

.navbar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    max-height: 10vh;
    min-height: 8vh;
}
@media (max-width: 800px){
    .navbar-nav {
        padding-top: 0px;
        padding-bottom: 0px;
    }
}

.nav-item-logo {
    padding-left: 1vw;
}
@media (max-width: 800px){
    .nav-item-logo {
        padding-left: 1vw;
    }
}

.navbar-logo-symbol {
    float: left;
    max-height: 6vh;
}
@media (max-width: 800px){
    .navbar-logo-symbol {
        max-height: 5vh;
    }
}

.navbar-logo {
    float: left;
    padding-left: 1vw;
    padding-right: 2.5vw;
    max-height: 5vh;
}
@media (max-width: 800px){
    .navbar-logo {
        max-height: 4vh;
    }
}




.nav-item-direction {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nav-item-left {
    font-size: 15px;
    font-weight: bold;
}

.nav-item {
    float: left;
}

.nav-item-name {
    display: block;
    color: white;
    text-align: center;
    margin-right: 1.5vw;
    margin-left: 1.5vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
    text-decoration: none;
}
@media (max-width: 800px){
    .nav-item-name {
        color: rgb(0, 0, 0);
        margin-top: 0.5vh;
        margin-bottom: 0.5vh;
    }
}

.nav-item-cat-name {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
    text-decoration: none;
}

.nav-menu {
    border: 1px solid #000000;
    /* box-sizing: border-box; */
}

.nav-item-curr-cat-name {
    display: block;
    color: rgb(55, 118, 255);
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
    text-decoration: none;
}

.nav-item-right {
    font-size: 15px;
    font-weight: bold;
}

.nav-last-item {
    padding-right: 2vw;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.drop-options {
    color: black !important;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0; /* Sidebar starts from the right */
    width: 85%;
    height: 100%;
    background-color: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5); /* Shadow to the left */
    z-index: 1000;
    transform: translateX(100%); /* Start off-screen to the right */
    opacity: 0; /* Start fully transparent */
    transition: transform 1.5s ease-in-out, opacity 0.5s ease-in-out; /* Smooth sliding and fading transition */
    padding-top: 20px;
    overflow: hidden;
}

.sidebar.open {
    transform: translateX(0); /* Slide in from the right */
    opacity: 1;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px; /* Move close button to the right */
    font-size: 24px;
    border: 1px solid #333;
    background: none;
    cursor: pointer;
}


.sidebar-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 5vh;
}

.sidebar-content a {
    text-decoration: none;
    color: #333;
    font-size: 1vh + 1vw;
    width: 100%;
    text-align: left;
}

.sidebar-content a:hover {
    color: #007BFF;
}

.nav-sidebar-fauser {
    font-size: 12.5vw;
}

.nav-sidebar-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-top: 0.1px solid #dbdbdb;
    border-bottom: 0.1px solid #dbdbdb;
}

.nav-sidebar-item-name {
    background-color: rgb(245, 245, 245);
    padding-top: 4vh;
    padding-bottom: 4vh;
    padding-left: 3vw;
}

.nav-sidebar-partition {
    min-height: 10vh;
}