.login-card-container {
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    width: 90vw;
    max-width: 60vw;
}
@media (max-width: 1350px) {
    .login-card-container {
        max-width: 90vw;
    }
}
@media (max-width: 800px) {
    .login-card-container {
        top: 50%;
    }
}

.login-grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
}
@media (max-width: 900px) {
    .login-grid-container {
        grid-template-columns: 65% 35%;
    }
}
@media (max-width: 800px) {
    .login-grid-container {
        grid-template-columns: 100% 0%;
    }
}

.login-grid-item {
    height: 65vh;
}

.login-grid-item1 {
    background-image: url('../../../assets/images/XpressBuy/XpressBuy_Logo_Design_NoBg.png');
    transform: scaleX(-1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 5vh;
    height: 45vh;
}

.login-signup-navigate-container {
    transform: scaleX(-1);
    height: 55vh;
    display: flex;
    justify-content: center;
    align-items: end;
    border-left: dashed 1px rgba(0, 0, 0, 0.8);
}
@media (max-width: 800px) {
    .login-signup-navigate-container {
        border: none;
    }
}

.login-signup-navigate {
    color: rgb(0, 183, 255);
    font-size: 17px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-heading {
    font-size: 30px;
    font-weight: 750;
    text-align: center;
    padding-top: 15vh;
}

.login-inputs {
    padding-top: 4vh;
    padding-left: 12.5vh;
    padding-right: 12.5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media (max-width: 486px) {
    .login-inputs {
        padding-left: 5vh;
        padding-right: 5vh;
    }
}
@media (max-width: 360px) {
    .login-inputs {
        padding-left: 3vh;
        padding-right: 3vh;
    }
}
@media (max-width: 320px) {
    .login-inputs {
        padding-left: 2vh;
        padding-right: 2vh;
    }
}

.login-input-fields {
    padding-top: 1vh;
    padding-bottom: 1vh;
    font-size: 13px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}

.login-input-setter {
    padding-left: 1vh;
    border: none;
    font-size: 15px;
    padding-top: 2vh;
    text-decoration: none;
}

.login-input-setter:focus {
    outline: none;
}

.padder4vh {
    padding-top: 4vh;
}

.login-errors {
    margin-top: 2vh;
    background-color: rgb(255, 0, 0);
    height: 6vh;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-btn {
    padding-top: 2vh;
    display: flex;
    justify-content: center;
}

.login-btn-decor {
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 3vh;
    padding-right: 3vh;
    background-color: rgb(0, 38, 255);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 0px;
    font-size: 20px;
}

.login-btn-decor:hover {
    background-color: rgb(134, 255, 134);
    color: rgb(255, 255, 255);
}