.register-setPage{
    min-height: 80vh;
}


.register-div-center{
    display: flex;
    justify-content: center;
    align-items: center;
}


.register-card{
    background-color: #FFFFFF;
    border: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


.register-card{
    min-width: 70vw;
    min-height: 60vh;
}


.register-img-login{
    padding-top: 5vh;
    padding-left: 9vw;
    padding-bottom: 2vh;
}


.toLogin{
    padding-top: 2vh;
    padding-left: 11vw; 
    padding-bottom: 6vh;
}


.register-rightCol{
    padding-left: 3vw;
}


.register-card-heading{
    padding-top: 6vh;
    padding-bottom: 1vh;
}


.register-formPadder{
    padding-top: 1vh;
    padding-bottom: 1vh;
}


/* .register-inputTaker{
    border-color: black;
    border-radius: 0%;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    max-width: 17vw;
} */

.register-inputTaker {
    display: flex;
    align-items: center;
    max-width: 17vw;
    width: 100%;
    border-color: black;
    border-radius: 0%;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.register-inputTaker .register-faFig {
    margin-right: 13px;
}

.register-inputTaker input {
    flex-grow: 1;
    border: none;
    outline: none;
    width: 100%;
}

@media (max-width: 768px) {
    .register-inputTaker {
        flex-wrap: wrap;
    }

    .register-inputTaker .register-faFig {
        margin-right: 5px;
    }
}

/* .register-faFig{
    margin-left: -10px;
    margin-right: 13px;
} */


.register-submitForm{
    padding-top: 5vh;
}