.cat-product-container {
    padding-top: 10vh;
    display: flex;
    flex-direction: row;
    min-height: 65vh;
    background-color: #F6F7F9;
}
@media (max-width: 1280px) {
    .cat-product-container {
        padding-top: 5vh;
    }
}

.left-column {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (max-width: 1280px) {
    .left-column {
        margin-right: 5vw;
        flex: 0;
    }
}

.left-column-placement {
    margin-top: 10px;
    width: 50%;
}

.category-left-column-heading {
    font-size: 30px;
    margin-bottom: 35px;
}

.category-name{
    margin-top: 5px;
    margin-bottom: 5px;
}

.category-name:hover{
    color: rgb(100, 188, 255);
    cursor: pointer;
}

.category-name-upper{
    margin-top: 40px;
}

.category-name-lower{
    margin-bottom: 40px;
}

.category-quantity{
    float: right;
}

.right-column {
    margin-right: 5vw;
    padding: 10px;
    background-color: #ffffff;
    flex: 6;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 7px;
    border: dashed 1px #cacaca;
    flex-basis: calc(25% - 7px); 
    background-color: rgb(243, 243, 243);
}
@media (max-width: 1450px) {
    .product-card {
        flex-basis: calc(33% - 7px);
    }
}
@media (max-width: 900px) {
    .product-card {
        flex-basis: calc(50% - 7px);
    }
}
@media (max-width: 490px) {
    .product-card {
        flex-basis: calc(100%);
    }
}

.product-card:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.product-card img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.product-details {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
}

.product-names {
    margin-top: 5px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    font-family: 'Roboto', sans-serif;
    color: rgb(83, 83, 83);
}

.product-review-rating{
    display: flex;
    flex-direction: row;
    align-items: left;
    margin-top: 10px;
    margin-bottom: 5px;
}

.product-inverse-carrot{
    margin-left: 5px;
    margin-right: 5px;
}

.product-rating {
    margin-left: 5px;
    margin-right: 5px;      
}

.product-reviews{
    color: rgb(45, 106, 139);
    font-size: 17px;
}

.product-sold-by {
    margin-top: 5px;
    margin-bottom: 5px;
}

.product-price-details{
    display: flex;
    flex-direction: row;
    align-items: left;
    margin-top: 10px;
    margin-bottom: 5px;
}

.product-price {
    font-size: 22px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}

.page-end{
    min-height: 12vh;
    background-color: #F6F7F9;
}